* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;   
    font-size: 20px;
}

.sidebar {
    height: 100%;
    width: 350px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #3a39394d;
    padding-top: 50px;
}

.sidebar h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 80px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    text-align: center;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

.sidebar ul li a:hover {
    color: #e62020;
}

.main-content {
    margin-left: 200px;
    padding: 20px;
}

/* Apply the same style as the universal selector to the form */
#vehicule-form {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#vehicule-form h2 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    text-align: inherit;
    font-size: inherit;
}

#vehicule-form label {
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    font-weight: inherit;
}

#vehicule-form input[type="text"],
#vehicule-form input[type="date"],
#vehicule-form select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 16px;
    box-sizing: border-box;
}

#vehicule-form button[type="submit"] {
    background-color: #000000;
    color: #fff;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
}

#vehicule-form button[type="submit"]:hover {
    background-color: #333333;
    transform: scale(1.05);
}
