* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;   
    font-size: 20px;
    background-color: #ffffff;
}

.sidebar {
    height: 100%;
    width: 280px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #21385f;
    padding-top: 50px;
    color: #fff;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    padding-bottom: 10px;
   
}

.sidebar summary {
    cursor: pointer;
    padding: 10px;
    list-style-type: none; /* Remove bullet point */
}

.sidebar details {
    margin-bottom: 15px;
}

.sidebar details summary {
    font-size: 21px;
    padding: 10px;
}

/* Add this CSS to your existing stylesheet */
.sidebar details li {
    padding: 20px;
 
}

.sidebar details li a {
    color: #f8f9fa !important; /* Change text color */
    text-decoration: none !important; /* Remove text decoration */
    font-size: 18px;
}
#vehicule-form {
    margin: 50px auto;
    padding: 30px;
    width: 500px;
}

#vehicule-form h2 {
    margin-bottom: 20px;
    color: #000000;
    text-align: center;
    font-size: 24px;
}

#vehicule-form label {
    display: block;
    margin-bottom: 10px;
    color: #191a1a;
    font-weight: bold;
}

#vehicule-form input[type="text"],
#vehicule-form select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#vehicule-form input[type="submit"] {
    background-color: #000000;
    color: #ffffff;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
}

#vehicule-form button[type="submit"] {
    background-color: #000000; /* Couleur de fond */
    color: #ffffff; /* Couleur du texte */
    padding: 12px 25px; /* Rembourrage */
    border: none; /* Supprimer la bordure */
    border-radius: 5px; /* Ajouter un rayon de bordure */
    cursor: pointer; /* Curseur au survol */
    font-size: 12px; /* Taille de la police */
    font-weight: bold; /* Gras */

}

