* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;   
    font-size: 20px;
    background-color: #ffffff;
}

.sidebar {
    height: 100%;
    width: 280px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #21385f;
    padding-top: 50px;
    color: #fff;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    padding-bottom: 10px;
   
}

.sidebar summary {
    cursor: pointer;
    padding: 10px;
    list-style-type: none; /* Remove bullet point */
}

.sidebar details {
    margin-bottom: 15px;
}

.sidebar details summary {
    font-size: 21px;
    padding: 10px;
}

/* Add this CSS to your existing stylesheet */
.sidebar details li {
    padding: 20px;
 
}

.sidebar details li a {
    color: #f8f9fa !important; /* Change text color */
    text-decoration: none !important; /* Remove text decoration */
    font-size: 18px;
}