* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;   
    font-size: 20px;
  }
  


    .sidebar {
        height: 100%;
        width: 350px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #083aac;
        padding-top: 50px;
    }
    
    .sidebar h2 {
        color: #fff;
        text-align: center;
        margin-bottom: 80px;
    }
    
    .sidebar ul {
        list-style-type: none;
        padding: 0;
    }
    
    .sidebar ul li {
        padding: 10px;
        text-align: center;
    }
    
    .sidebar ul li a {
        color: #fff;
        text-decoration: none;
      
    }
    
    .sidebar ul li a:hover {
        color: #27a6ab;
    }
    
    .main-content {
        margin-left: 200px;
        padding: 20px;
    }

 
    #frais-imprevus {
        width: 300px; /* Largeur du formulaire */
        position: fixed;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
       
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #frais-imprevus form {
        text-align: center; /* Centrage des éléments du formulaire */
    }
    
    #frais-imprevus legend {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    #frais-imprevus input[type="text"],
    #frais-imprevus input[type="number"] {
        width: calc(100% - 40px); /* Largeur des champs de saisie */
        padding: 10px;
        margin-bottom: 15px;
    }
    
    #frais-imprevus input[type="submit"],
    #frais-imprevus input[type="reset"] {
        background-color: #083aac;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-right: 10px;
    }
    
    